/* header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;

}
a{
    color: #af1313;
}
a:hover{
    background-color: #e72929;
    color: white;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    flex:inline-block;

}
.forrm-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}
.search-icon{
    position:absolute;
    z-index:10;
    right:40%;
    color:blue;

} */