<!-- <header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">DIgital Streaming System</a>
        <span > <button>Add Movie</button></span>
        <div class="container">
            <input type="text" class="form-control" placeholder= "search movies">
            <span > <button>search</button></span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">LogOut</a>
                </li>
            </ul>
        </nav>
    </div>
</header> -->
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/">
        <img src="assets/wallpaper.jpg" alt="" width="50" height="50">
        Digital Streaming System
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Add Movie</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>