
ul li a {
    height: 20rem;
    width: 20rem;
    border: 1 px solid whitesmoke;
    border-radius: 1rem;
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
} 
li a:hover{
    opacity: 0.85;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    padding: 0;

}

.card {
    padding: 20px;
    margin: 5px;
    
    
    overflow: hidden;
    color: #e72929;

    
}

.card img {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

