<div class="container">
    <!--div class="row" -->
        <ng-container>
       
        
                <img src="{{movie.movieUrl}}" alt="">
                <h2 style="color: blue; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Title:{{movie.movieName}}</h2>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><strong>Overview:</strong>{{movie.movieOverview}}</p>
                <p><strong>Genre:</strong> {{movie.movieGerne}}</p>
                <p><strong>Actor:</strong> {{movie.movieActor}}</p>
                
                <p><strong>Duration:</strong> {{movie.movieDuration}}</p>
                <p><strong>Rating:</strong> {{movie.movieReview}}</p>
                <!--span><button class="btn btn-primary" (click)=editMovie(movie)>Edit</button> </span>
                <span><button class="btn btn-primary" (click)=deleteMovie(movie)>Delete</button></span-->
                
                
                
            
        </ng-container>

    <!-- /div -->
</div>
